body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bord {
  display: flex;
  width: 400px;
  height: 500px;
  background-color: darkcyan;
  flex-direction: column;
  align-items: center;
}

#h1-id {
  color: white;
}

label {
  width: 70px;
  height: 30px;
  display: inline-block;
  color: white;
  
}

div {
  margin: 2px;
}

